cli/.vscode-test/
cli/node_modules/
cli/out/
vscode-extension/client/node_modules/
vscode-extension/client/out/
vscode-extension/node_modules/
vscode-extension/server/node_modules/
vscode-extension/server/out/