name: Kaaper CI

on:
  pull_request: ~

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: installing yarn
        run: npm install -g yarn
      - name: compiling and checking lint
        run: |
          yarn
          yarn run compile && yarn run lint
      - run: ls -al
        if: runner.os == 'Linux'
      - name: test with yarn (LINUX ONLY)
        run: xvfb-run -a yarn test
        if: runner.os == 'Linux'
      - name: test with yarn (NON-LINUX)
        run: yarn test
        if: runner.os != 'Linux'